<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProductDetailsFromProductID</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>searchservlet</display-name>
    <servlet-name>searchservlet</servlet-name>
    <servlet-class>searchservlet.searchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchservlet</servlet-name>
    <url-pattern>/searchservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dbconnect</display-name>
    <servlet-name>Dbconnect</servlet-name>
    <servlet-class>Servlete2.Dbconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dbconnect</servlet-name>
    <url-pattern>/Dbconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Errorservlet</display-name>
    <servlet-name>Errorservlet</servlet-name>
    <servlet-class>Servlete2.Errorservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Errorservlet</servlet-name>
    <url-pattern>/Errorservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getsearchservlet</display-name>
    <servlet-name>Getsearchservlet</servlet-name>
    <servlet-class>Servlete2.Getsearchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getsearchservlet</servlet-name>
    <url-pattern>/Getsearchservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveAllServlet</display-name>
    <servlet-name>RetriveAllServlet</servlet-name>
    <servlet-class>Servlete2.RetriveAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveAllServlet</servlet-name>
    <url-pattern>/RetriveAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchservlet</display-name>
    <servlet-name>Searchservlet</servlet-name>
    <servlet-class>Servlete2.Searchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchservlet</servlet-name>
    <url-pattern>/Searchservlet</url-pattern>
  </servlet-mapping>
</web-app>